/* font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* common css start */
body {
	font-family: "Roboto", sans-serif;
}
/* common css end */

/* header start */
header {
	font-family: "Lato", sans-serif;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.cus-logo{
	width: 160px;
}
.search-icon {
	width: 14px;
}
.menu ul li a{
	padding-right: 30px !important;
	color: #8e8e8e !important;
	text-transform: uppercase;
}
.menu ul li:first-child a{
	color: #333333 !important;
	font-weight: bold;
}
.menu ul li:last-child a{
	padding-right: 0px !important;
}
/* header end */

/* slider start */
banner{

}
.cus-slider{
	background-image: 
		linear-gradient(to bottom, rgba(255, 255, 255, 0) 62%, white),
		url('../images/bg.png');
	background-size: cover;
	background-position: center;
	height: 90vh;
}
.cus-item{

}
.cus-h{
	margin: 110px 0 30px 0;
	font-family: "Lato", sans-serif;
	font-weight: bold;
	font-size: 52px;
	color: white;
}
.cus-p{
	margin-bottom: 30px;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 14px !important;
	color: white;
	line-height: 24px;
}
.cus-b{
	text-transform: uppercase;
	border: none;
	padding: 12px 16px;
	margin-bottom: 110px;
	color: #333333;
	font-size: 14px;
}
/* slider end */

/* welcome start */
.welcome {
	text-align: center;
	margin-top: 30px;
}
.wel-h {
	font-family: "Lato", sans-serif;
	font-weight: normal;
	color: #333333;
	text-transform: uppercase;
}
.wel-p {
	margin-top: 30px;
	color: #8e8e8e;
}
/* welcome end */

/* feature start */
.feature{
	margin-top: 80px;
	margin-bottom: 80px;
}
.cus-f {
	border: 1px solid #8e8e8e;
	color: #8e8e8e;
	text-align: center;
}
.cus-i1{
	margin-top: 20px;
	font-size: 40px;
	font-weight: normal;
}
.cus-f h4{
	font-family: "Lato", sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 22px;
	color: #333333;
}
.cus-hr{
	border-bottom: 1px solid #8e8e8e;
	width: 18%;
	margin: 0 auto;
}
.f-p{
	padding-left: 16px !important;
	padding-right: 16px !important;
}
.cus-f p{
	margin-top: 20px;
}
.more {
	margin-top: 10px;
	margin-bottom: 22px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
/* feature end */

/* footer start */
.footer{
	margin-top: 100px;
	text-align: center;
	background-image: 
		linear-gradient(to top, rgba(255, 255, 255, 0) 62%, white),
		url('../images/footer.png');
	background-size: cover;
	background-position: center;
	height: 50vh;
}
.foot-p{
	margin-top: 10px;
	color: white;
}
.links ul li a i{
	font-size: 25px;
	color: white !important;
}
hr {
	margin-top: 65px;
	color: white;
	height: 5px !important;
}
.cus-list li{
	padding-right: 20px;
}
.cus-list li:last-child{
	padding-right: 0px;
}
/* footer end */
